.App {
  text-align: center;
}

.map-container {
  width: 100%;
  height: 100vh;
  z-index: 10;
  position: relative;
}

.findMe {
  margin: auto;
  width: 50px;
  height: 50px;
  z-index: 100;
  top: 100px;
  left: 5px;
  position: absolute;
  cursor: pointer;
  transition: all 0.2s;
}

.findMe:hover,
.findMe:active {
  transform: scale(1.1) translateY(-5px);
}

.find {
  position: absolute;
  z-index: 1000;
  width: 50px;
  height: 50px;
  top: 100px;
  left: 5px;
  cursor: pointer;
}
